.heroWrap
  section.heroWrap-infoCorp
    .logo
    .slogan
      .titulo
        h2 Posicionamos en la WEB tus mejores ideas.
      .texto
        p Impulsamos su marca en el mundo digital dándole visibilidad a su negocio para ganar nuevos clientes, incrementar sus ventas e ingresos.
  .heroWrap-infoContacto
    +contacto('¿Estas dispuesto a iniciar?', '+57 (038) 673 53 62', '+57 304 407 83 17', '¡Quiero dar el primer paso!')