header.hero#inicio
  .hero-logo
    //- img(src="./images/Escudo.png" alt="Escudo Grupo 2 Oxford" height="200")
  .hero-title
    h1.hero-title_principal titulo
    h2.hero-title_secondary subtitulo
    h3.hero-title_emphasis titulo de notas
    h4 subtitulo de notas
    p texto en general

  //- +phraseHero('DANDO UNA PATADA A LA SILABA "IM",', 'de la palabra IMPOSIBLE cualquiera estará seguro de salir adelante', '"Baden Powell"')
