.landingWrap
  section.landingWrap-infoCorp
    .logo
      //- img(src="./images/logoCompleto.svg" alt="Posicionamos en WEB tus mejores Ideas CREATIVE CODE" height="300")
    .slogan
      //- a(href="http://eepurl.com/dmc2RL") click aqui
      .titulo
        h2 Posicionamos en la WEB tus mejores ideas.
      .texto
        p Impulsamos su marca en el mundo digital dándole visibilidad a su negocio para ganar nuevos clientes, incrementar sus ventas e ingresos.
  .landingWrap-promo
    img(src="./images/promo.svg", alt="Nuestras promociones" height="190")
  .landingWrap-action
    .icon
      i.fa.fa-lightbulb
    .intro
      p ¿Tiene una idea de negocio que quiere hacer crecer rápidamente o ya tiene su propio proyecto económico funcionando y quiere que llegue a más personas?
    .action
      .flecha
        //- img(src="./images/flecha.png", alt="Click aqui")
      .actButton
        a(href="http://eepurl.com/dmc2RL") ¿Cómo lo Hago?
