
//GENERALES
//path
$path: './images/';

//Tamaño de fuente para el proyecto
//$fsBase:62.5%;
$fsBase:16px;

//alto general
$hBase:100vh;

//fuentes
// $ftIncosolata:'Inconsolata', monospace;
// $ftyanone:'Yanone Kaffeesatz', sans-serif;
// $ftRaleway:'Raleway', sans-serif;

// grosor
$ligth:300;
$normal:400;
$medium:500;
$bold:700;

//Familia de fuentes
$ftroboto: 'Roboto', sans-serif;
$ftOswald: 'Oswald', sans-serif;

// Variables de color
$color     : #5a5a64;
$txtResalte: #232b41;
$baseredes : #4e4d6f;
$primario  : #74b283;
$primario2 : #92af44;
$prueba01  : #cedb69;
$secundario: rgb(44, 55, 82);
$resalte   : rgb(184, 214, 64);
$clAlterno : rgb(140, 162, 42);

// variables de media query
// $xsScreen:470px;
// $smallScreen : 520px;
// $mediumScreen: 750px;
// $wideScreen  : 1024px;
// $largeScreen : 1280px;
// $xlScreen: 1366px;
// $opScreen:1480px;

$xsScreen:320px;
$smallScreen : 480px;
$mediumScreen: 600px;
$wideScreen  : 760px;
$largeScreen : 990px;
$xlScreen: 1200px;
$opScreen:1400px;