mixin contacto(texto, telefono, movil, placeHolder)
  .contact
    .title
      p #{texto}
    .numbers
      p.numbers-phone1 #{telefono}
        i.icon.fa.fa-phone
      p.numbers-phone2 #{movil}
        i.icon.fa.fa-mobile
    .boton
      a(href='#') #{placeHolder}

