.heroWrap{
  // background-color: $color;
  // height: 100vh;
  // color: $clTextoGen;
  display: grid;
  grid-template-rows: 5% 40% 30% 25%;
  grid-template-columns: 1fr 1fr;
  &-infoCorp{
    // background-color: gold;
    grid-row: 2 / 4;
    grid-column: 1 / -1;
  }
  &-infoContacto{
    // background-color: orange;
    grid-row: 4 / -1;
    grid-column: 1 / -1;
  }
}
@include mQ(xsS){
  body{
    //background-color: rebeccapurple;
  }
}
@include mQ(smallS){
  body{
    //background-color: orangered;
  }
}
@include mQ(mediumS){
  body{
    //background-color: yellowgreen;
  }
}
@include mQ(wideS){
  body{
    //background-color: teal;
  }
}
@include mQ(largeS){
  body{
    //background-color: violet;
  }
}
@include mQ(xlS){
  body{
    //background-color: fuchsia;
  }
}
